
  :root{
    --bg-black-900:#000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.inner-shadow{
    box-shadow: var(--inner-shadow);
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}
.align-items-center{
    align-items: center;
}
.btn-1{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--sg-main-400);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
    border: none;
}
.btn-1:after{
  border-radius: 30px;
}

/* contact section */

.contact-section{
    padding: 0 15px;
    max-width: 33%;
}
 .input-group{
    margin: 0 0 25px;
    transition: all 0.3s ease;
    border-radius: 30px;
}
.input-control:focus {
    outline: none;
  }
 .input-group:after{
    border-radius: 30px;
}
 .input-group .input-control{
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    color: var(--text-black-700);
}
 .input-group textarea.input-control{
    height: 184px;
    padding-top: 15px;
    resize: none;
}
.contact-section .submit-btn{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 0 15px;
}

/*CONTACT*/