:root {
    --sg-main-100: #D2F4EA;
    --sg-main-200: #A6E9D5;
    --sg-main-300: #4DD4AC;
    --sg-main-400: #20C997;
    --sg-main-500: #1AA179;
    --sg-main-600: #1AA179;
    --sg-main-700: #0D503C;
    --sg-main-800: #06281E;
    --sg-main-900: #000000;
  }
  *{
      padding: 0;
      margin: 0;
  }
  body{
      padding-bottom: 0;
  }
  a{
      text-decoration: none;
  }
  .spacer{
      height: 100px;
  }
  .sg_text_400{
    color: var(--sg-main-400) !important;
  }
  .sg_text_600{
    color: var(--sg-main-600) !important;
  }
  .sg_bg_100{
    background: var(--sg-main-100);
  }
  .sg_hover_bg_100:hover{
    background: var(--sg-main-100);
  }
  .sg_hover_bg_400:hover{
    background: var(--sg-main-400);
  }
  .icon_size{
    height: 3rem;
  }
  /* display products grid */
  .product_show_img{
    max-height: 16rem;
    max-width: 16rem;
  }
.product_show:hover{
    background: var(--sg-main-100);
  }
  /* display products grid end */
  /* Display large Products */
  .img_display_large{
    max-height: 480px;
    max-width: 480px;
  }
@media screen and (max-width: 36rem) {
    .img_display_large{
    max-height: 80vw;
    max-width: 80vw;
  }
}
  /* Display large Products end */
  /* Display Services */
  .bg_service_img{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 40vh;
}
  /* Display Services end */
  .parallax {
    /* The image used */
    background-image: url("../images/slider-4.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* testimonial clean design */
  .testimonials-clean {
    color:#313437;
    background: var(--sg-main-100);
  }
  
  .testimonials-clean p {
    color:#7d8285;
  }
  
  .testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom:0;
  }
  
  .testimonials-clean .people {
    padding:50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom:32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height:220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding:30px;
    background-color:#fff;
    position:relative;
  }
  
  .testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
  }
  
  .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:25px;
  }
  
  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }
  
  .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }
  /* testimonial clean design */

  /* product carousel */
  
  /* product carousel End*/

  /* footer design */
  .site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:var(--sg-main-400);
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:var(--sg-main-400);
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* footer design end */
  
  